.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #008080;
  color: white;
  padding: 4vh;
  text-align: center;
}

.header-heading {
  font-size: 2rem;
}

.page-container {
  padding: 4vh;
}

.new-project-button {
  bottom: 4vh;
  right: 4vh;
  font-size: 1.25rem;
}